*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
}
body {
  margin: 0;
  line-height: inherit;
}

h1, h2, h3, .hero-title, .hero-heading, .heroEditorialTitle {
  font-family: Inter, ui-sans-serif, system-ui, sans-serif !important;
  font-weight: 900 !important;
  font-style: normal !important;
  font-feature-settings: normal !important;
  font-variation-settings: normal !important;
  text-transform: uppercase;
}
h1, .hero-title, .heroEditorialTitle {
  line-height: 0.81 !important;
  letter-spacing: -0.075em !important;
}
h2, h3, .hero-heading {
  line-height: 0.84 !important;
  letter-spacing: -0.068em !important;
}
